/* 2xl */
@media (max-width: 1536px) {
    
}

/* xl */
@media (max-width: 1280px) {

}

/* lg */
@media (max-width: 1024px) {
   
    
}

/* md */
@media (max-width: 768px) {

}
   

/* sm */
@media (max-width: 640px) {
    
}

/* Responsividade para telas menores que 520px */
@media (max-width: 520px) {

    main {
        width: 95%; /* ocupa quase toda a largura */
        margin: 0 auto;
    }

    h1 {
        font-size: 20px;
        line-height: 1.3;
    }

    table {
        font-size: 14px;
        display: block; /* permite rolagem horizontal */
        overflow-x: auto;
        white-space: nowrap;
    }

    table th, table td {
        padding: 6px;
    }

    div img {
        width: 100%;
        height: auto;
    }

    #bt-voltar {
        width: 100%;
        max-width: 150px;
        padding: 10px;
        font-size: 16px;
    }

    header {
        flex-direction: column;
        text-align: center;
    }

    header p {
        font-size: 20px;
        margin-right: 0;
        margin-bottom: 10px;
    }

    header img {
        width: 200px;
    }

    footer {
        font-size: 14px;
        text-align: center;
        padding: 10px;
        height: auto;
    }

    footer p {
        width: 90%;
    }
}


@media (max-width:481px) {
    header p {
    color: white;
    font-size: 28px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 20px;
    text-align: center;
}
}

/* xs */
@media (max-width: 475px) {
    
}