* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* reset */

header {
    background-color: dodgerblue;
    padding: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* position: absolute;
    top: 0;
    left: 0;
    z-index: 1; */
}

header img {
    width: 300px;
    border-radius: 60px;
}


header p {
    color: white;
    font-size: 28px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 20px;
}

#div-cabecalho {
    width: 100%;
    /* margin-bottom: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

/* cima */

/* meio */

main {

    width: 80%;
    margin: 0px auto;
    padding: 0px;
    margin-bottom: 0px;
}


table {
    width: 100%;
    /* border-collapse: collapse; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

div {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}


div img {
    margin-top: 19px;

}

.linhas {
    background-color: #F2F2F2;
}

.titulos-colunas {

    font-weight: bold;
}

h1 {
    font-family: 'Arial';
    text-align: center;
    font-size: 28px;
    padding: 0px 0px 10px 0px;
}


#bt-voltar {
    background-color: dodgerblue;
    color: white;
    font-weight: 700;
    padding: 6px;
    border: 1px solid 663300;
    border-radius: 6px;
    width: 70px;


}



div a:hover #bt-voltar {
    background-color: rgb(40, 118, 182);
    cursor: pointer;


}

body {
    overflow-x: hidden;
}

#img-logo:hover {
    transform: scale(1.02);
}

/* baixo */


footer {
    background-color: #212529;
    color: white;
    padding: 5px;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute;
    bottom: -1;
    left: 0; */
}


footer p {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer p a {
    color: dodgerblue;
    text-decoration: none;
}

footer p a:hover {
    color: blueviolet;
}

